body {

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {

}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.rightColumn {
    width: 73vw;
    float: left;
    min-height: 100vh;
    height: 100%;
}

.leftColumn {
    width: 25vw;
    float: left;
    background-color: #BC986A;
    height: 100vh;
}

.main-logo-container {
    margin-top: 10%;
    text-align: center;
}
.main-logo {
    font-family: 'Bungee', cursive;
    font-size: 40px;
    text-decoration: none;
    margin-top: 25%;
    color: white;

}

main-logo:hover,main-logo:focus {
    text-decoration: none;
    color: white;
    
}
a:hover, a:focus {
    color: white;
    text-decoration: none;
}


.nav-container {
    margin-top: 25%;
}
.primary-nav {
    text-align: center;
}

.primary-nav ul {
    margin: 0 auto;
    padding: 0px;
}

.primary-nav ul li {
    list-style: none;
}

.primary-nav ul li a {
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

h2 {
    text-decoration: none;
    font-family: 'Bungee', cursive;
    font-size: 30px;
    text-transform: uppercase;
    text-align:center;
}

.create-listing {
    text-align: center;
    margin: 0 auto;
}

.create-listing a {
    background-color: green;
    padding: 7.5px 15px;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    border-radius: 10px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

